{% load static %}
<html>

<head>
</head>

<body>
    <button style="background-color: blue;" id="clickHere">
        Click Here
    </button>
    <img src="https://hello.com" alt="hello"/>
    <button>xPath</button>
    <a href="https://google.com" data-smart-component-id="ae3fb1fe-624a-4005-a38f-016c833db282">TEst</a>
    <div id="newElements">

    </div>
    <div>
        {{ df|safe }}
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const newElements = document.getElementById('newElements');
        document.getElementById('clickHere').addEventListener('click', () => {
            const container = document.createElement("div")
            const newButton = document.createElement("button");
            newButton.innerText = "New Button";
            container.appendChild(newButton);
            newElements.appendChild(container);
        });
    })
</script>
<script src="{% static 'core/js/smart.js' %}" data-smart-auth-id="8defa34789349d9b2e93d1d2f98113f8542effe5"></script>
</html>